.flashCard {
  background-color: transparent;
  width: 100%;
  height: 78vh;
  border: 1px solid #f1f1f1;
  perspective: 5000px;
  border-radius: 10px;
}

.flashCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: inherit;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}

.flashCard.active .flashCardInner {
  transform: rotateY(180deg);
}

.FlashCardFront, .FlashCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10vw;
  border-radius: 10px;
}

.FlashCardFront {
  background-color: white;
  color: black;
}

.FlashCardBack {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
