.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding-bottom: 1.5rem;
  width: 100%;
}

.searchContainer a {
  all: unset;
  background-color: #dadada;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.searchContainer:active a {
  opacity: 50%;
}

.searchInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;

  margin-top: .5rem;
}

.searchInfo {
  font-size: 1.8rem;
}
